
 <div class="container">
  <div class="fixed-content">
    <div class="wrapper">
      <div class="square-element"> 
        <p class="square-text">T</p>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">     
          <ul class="nav navbar-nav">
            <!-- <li><a href="#" (click)="onSelect('element1')">Phone numbers</a></li> -->
            <!-- <li><a href="#"(click)="onSelect('element2')">Add number</a></li> -->
            <li><a routerLink="/element1" routerLinkActive="active">Phone Numbers</a></li>
            <li><a routerLink="/phone-number-form" routerLinkActive="active">Add number</a></li>
          </ul>   
        </div>
      </nav>
    </div>
  </div>